body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
fieldset {
  border: none;
}
.main-header {
  background-color: #ffffff;
}
.nav-main {
  background-color: #ffffff;
}
.nav-main__list {
  list-style: none;
}
.nav-main__link {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  transition: 180ms;
}
.nav-main__link--active {
  color: #766357;
}
.nav-main__link:hover,
.nav-main__link--active:hover,
.nav-main__link:focus,
.nav-main__link--active:focus {
  color: #81b3d2;
}
.nav-main__link:active,
.nav-main__link--active:active {
  color: rgba(0, 0, 0, 0.3);
}
.advantages {

}
.advantages__header {
  background-color: #dceaf3;
  background-image: url(../img/background_photo.jpg);
  background-position: top center;
  background-size: 1200px 800px;
  background-repeat: no-repeat;
}
.advantages__img {}
.advantages__title-header {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.advantages__subtitle {
  text-align: center;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages__item {
}
.advantages__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__item--home {

}
.advantages__item--eat {

}
.advantages__item--present {

}
.advantages__item--gray {
  background-color: #eeeeee;
}
.advantages__title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}
.advantages__number {

}
.advantages__text {
  text-align: center;
}
.search {

}
.search__header {

}
.search__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}
.search__subtitle {
  line-height: 24px;
}
.search__form {
  font-weight: 700;
  color: #000000;
}
.search__form-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}
.search_label {

}
.search__field {
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  transition: 180ms;
}
.search__field:hover {
  background-color: #ebebeb;
}
.search__field:focus {
  background-color: none;
  border: 1px solid #ebebeb;
}
.search__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}
.map {
  background-color: #f2f1ef;
  background-image: url(../img/map.jpg);
  background-position: top center;
  background-size: 1280px 747px;
  background-repeat: no-repeat;
  height: 475px;
}
.footer-main {
  background-color: inherit;
}
.social {
  list-style: none;
}
.social__item {
  background-color: #81b3d2;
}
.footer-main__html-logo {

}
.footer-main__text {
  color: #000000;
}
.footer-main__link {

}
.footer-main__img {

}
.filter {
  background-color: #6e9ac1;
  background-image: url(../img/filter-background-photo.jpg);
  background-position: top center;
  background-size: 1200px 562px;
  background-repeat: no-repeat;
}
.filter__form {
  color: #ffffff;
}
.filter__title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.filter__list {
  list-style: none;
}
.filter__field {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: none;
}
.filter__scale {
  width: 315px;
  height: 25px;
  border: 2px solid #ffffff;
}
.button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: 180ms;
}
.button--filter {
  background-color: transparent;
  border: 2px solid #ffffff;
}
.button--filter:hover {
  color: #000000;
  background-color: #ffffff;
}
.button--blue {
  background-color: #81b3d2;
}
.button--blue:hover,
.button--blue:focus {
  background-color: #669ec0;
}
.button--blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.button--brown {
  background-color: #766357;
}
.button--brown:hover,
.button--brown:focus {
  background-color: #604e43;
}
.button--brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.catalog {

}
.catalog__sorting {

}
.catalog__result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.catalog__sort-title {
  font-size: 12px;
  line-height: 18px;
}
.catalog__sort {
  list-style: none;
}
.catalog__sort-item {

}
.catalog__sort-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted  #81b3d2;
}
.catalog__sort-link--active {
  color: #81b3d2;
  border-bottom: none;
}
.catalog__sort-link:hover,
.catalog__sort-link:focus {
  color: #81b3d2;
}
.catalog__sort-link:active {
  color: #000000;
  border-bottom: none;
}
.catalog__list {
  list-style: none;
}
.catalog__item {

}
.catalog__img {

}
.catalog__info {
  line-height: 21px;
}
.catalog_title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.catalog__hotel-type {

}
